{
  "name": "SenseoWifiHome",
  "device_id": "senseo-wifi-home",
  "wifi": {
    "ssid": "myWifi",
    "password": "mySecret"
  },
  "mqtt": {
    "host": "mybroker.domain.tld or ip",
    "port": 1883,
    "base_topic": "devices/",
    "auth": true,
    "username": "me",
    "password": "anotherSecret"
  },
  "ota": {
    "enabled": true
  },
  "settings": {
    "cupdetector": true,
    "buzzer": true,
    "recipes": true
  }
}
